<ng-template #rowTemplate let-row="row">
  <tr>
    @for (column of columns; track column.key) {
      @if (column.type === 'column') {
        <td [innerHTML]="render(column, row[column.key])"></td>
      } @else {
        <td>
          <app-menu-button [options]="column.actions ?? []"
                           (selectedOption)="handleAction($event.key, row)"></app-menu-button>
        </td>
      }
    }
  </tr>
</ng-template>


<div class="table-container">
  <table>
    <thead>
    <tr>
      @for (item of columns; track item.key) {
        <th>{{ item.label }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (item of data; track item.id) {
        <ng-container *ngTemplateOutlet="rowTemplate; context: { row: item }"></ng-container>
      }
    </tbody>
  </table>
</div>
